/* init */

@font-face {
    font-family: myLemonMilk;
    src: url(./Sources/Font/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: myCoco;
    src: url(./Sources/Font/Coco-Sharp-Extrabold-Italic-trial.ttf);
}

@font-face {
    font-family: myCocogoose;
    src: url(./Sources/Font/Cocogoose-Classic-Medium-trial.ttf);
}

@font-face {
    font-family: myNanumSquareNeoBold;
    src: url(./Sources/Font/NanumSquareNeo-cBd.ttf);
}

@font-face {
    font-family: myNanumSquareNeoRegular;
    src: url(./Sources/Font/NanumSquareNeo-bRg.ttf);
}

.home-logo {
    display: flex;
    justify-content: center;
    font-family: myLemonMilk;
}
.from-side-menu {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.555);
    overflow: hidden;
    transition: 0.5s;
}
.from-side-menu button {
    border: none;
    background-color: transparent;
}
.index-btn {
    border: none;
    background-color: transparent;
    font-family: myCocogoose;
}
.menu-list {
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    justify-content: center;
    margin: 0px;
    font-family: myLemonMilk;
}
.menu-list li {
    margin: 5px;
}
.act-list {
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    font-family: myCocogoose;
    border-bottom: 1px solid lightgrey;
}
.act-list li {
    margin: 5px;
}

/* .search {
    border-bottom: 1px solid lightgrey;
} */

.search-area {
    border: 0px;
}

.menubox {
    text-decoration: none;
    color:black;
}
.notice-type {
    display: flex;
    justify-content: center;
}

.home-intro {
    font-family: myCoco;
}
.outlet {
    font-family: myLemonMilk, myNanumSquareNeoBold;
}
.silsubvisual {
    height: 400px;
    background-image: url(./Sources/Img/outline_girl2_40.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: myLemonMilk;
}
.loginarea {
    font-family: myNanumSquareNeoRegular;
}
.footer {
    display: flex;
    justify-content: center;
    font-family: myNanumSquareNeoRegular;
    margin-top: 10%;
}