/* init */

.home-logo {
    display: flex;
    justify-content: center;
}
.menu-list {
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    justify-content: center;
    margin: 0px;
}
.menu-list li {
    margin: 5px;
}
.act-list {
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}
.act-list li {
    margin: 5px;
}

.menubox {
    text-decoration: none;
    color:black;
}
.notice-type {
    display: flex;
    justify-content: center;
}