/* init */

@font-face {
    font-family: myLemonMilk;
    src: url(./Sources/Font/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: MyCoco;
    src: url(./Sources/Font/Coco-Sharp-Extrabold-Italic-trial.ttf);
}

@font-face {
    font-family: myCocogoose;
    src: url(./Sources/Font/Cocogoose-Classic-Medium-trial.ttf);
}

.home-logo {
    display: flex;
    justify-content: center;
    font-family: myLemonMilk;
}
.menu-list {
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    justify-content: center;
    margin: 0px;
    font-family: myLemonMilk;
}
.menu-list li {
    margin: 5px;
}
.act-list {
    list-style-type: none;
    padding-inline-start: 0px;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    font-family: myCocogoose;
    border-bottom: 2px solid lightgrey;
}
.act-list li {
    margin: 5px;
}

/* .search {
    border-bottom: 1px solid lightgrey;
} */

.search-area {
    border: 0px;
}

.menubox {
    text-decoration: none;
    color:black;
}
.notice-type {
    display: flex;
    justify-content: center;
}

.home-intro {
    font-family: MyCoco;
}